<h1>Angular2 Basic Checklist</h1>

<!-- If there is nothing added to the list yet -->
<p *ngIf="!itemsAdded.length">Nothing added</p>

<!-- List of items -->
<div id="items" *ngFor="let i of itemsAdded">
  <!-- taskDone only updates localStorage -->
  <input type="checkbox" [(ngModel)]="i.checked" (click)="toggleChecked(i)">
  <!-- i.checked comes directly from checked html attribute. No method needed -->
  <span [class.crossed]="i.checked">{{i.description}}</span>
  <button (click)="deleteItem(i.id)">Delete</button>
</div>

<!-- Add item -->
<div id="add-item">
  <input type="text" (keydown)="addItemEnter(item, $event)" [(ngModel)]="item" />
  <button (click)="addItem(item)">Add item</button>
</div>
