<h1>Angular2 Basic Checklist</h1>

<!-- If there is nothing added to the list yet -->
<p *ngIf="!itemsAdded.length">Nothing added</p>

<!-- List of items -->
<div id="items" *ngFor="let i of itemsAdded">
  <input type="checkbox" [(ngModel)]="i.checked">
  <span [class.crossed]="i.checked">{{i.name}}</span>
  <button (click)="deleteItem(i)">Delete</button>
</div>

<!-- Add item -->
<div id="add-item">
  <input type="text" (keydown)="addItemEnter(item, $event)" [(ngModel)]="item" />
  <button (click)="addItem(item)">Add item</button>
</div>
